
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000000;
}
.comment .comment-arrow {
  border-color: #897f6c;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #897f6c;
}
.tabs ul.primary li a.active {
  background-color: #897f6c;
}
.tabs ul.primary li.active a {
  background-color: #897f6c;
  border-bottom: 1px solid #897f6c;
}
#header {
  background-color: #332d1e;
  background-image: -moz-linear-gradient(top, #c6b79e 0%, #332d1e 100%);
  background-image: -ms-linear-gradient(top, #c6b79e 0%, #332d1e 100%);
  background-image: -o-linear-gradient(top, #c6b79e 0%, #332d1e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c6b79e), color-stop(1, #332d1e));
  background-image: -webkit-linear-gradient(top, #c6b79e 0%, #332d1e 100%);
  background-image: linear-gradient(top, #c6b79e 0%, #332d1e 100%);
}
a {
  color: #f1cece;
}
a:hover,
a:focus {
  color: #fcc1c1;
}
a:active {
  color: #ffd3d3;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #000000;
}
#page-wrapper,
#footer-wrapper {
  background: #5f584e;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffffff;
}
